.app_nav {
    grid-area: nav;
    background-color: mediumpurple;
    padding: 20px;
}

.item {
    padding: 5px;
}

.item a {
    color: black;
    text-decoration: none;
}

.item a:focus {
    color: yellow;
}

.friendsBlock {
    background-color: ghostwhite;
    text-align: center;
}